<div id='new_time_entry_form' <%= "style='display:none'" unless @same_user %>>
  <fieldset>
    <legend><%= l(:label_new_entry) %></legend>
    <%= form_remote_tag(:url => {:action => :create_entry, :from => @from, :to => @to}) do -%>
      <p>
        <%= l(:label_project) %>
        <% if (user_projects_ordered.length == 1) 
           then %>
            <%= select_tag('project_id', "<option value='#{user_projects_ordered.first.id}' selected>#{user_projects_ordered.first.name}</option>".html_safe)%>
        <% else %>                                                     
            <%= select_tag('project_id', "<option value='-1'>-#{l(:select_project_option)}</option>".html_safe +
                           options_from_collection_for_select(user_projects_ordered, 'id', 'name'),
                           {:onchange => remote_function(:url => {:action => :update_project_issues, :from => @from, :to => @to},
                                                         :with => 'Form.Element.serialize(this)')})%>
        <% end %>
      </p>
      <p>
        <%= render :partial => 'fields_for_new_entry_form' %>
      </p>
    <% end -%>
  </fieldset>
</div>
